/* styles.css */


*{
  margin:0;
}

 body {
  
    display :flex;
    height: 100vh;
  }
  
img,picture,video,canvas,svg{
  max-width: 100%;
}



  img{
    height: 20px;
    width: 20px;
    color:black;
  }


  ul{
    list-style: none;
  }

  ul>li{
    height: 2rem;
  }

  .nav:hover{
    [src="./images/plus-thick.png"]:modal{
      height: 2rem;
    }
    [src="./images/apps.png"]:modal{
      height: 2rem;
    }
    [src="./images/bell.png"]:modal{
      height: 2rem;
    }
    [src="./images/hashtag.png"]:modal{
      height: 2rem;
    }
    [src="./images/search.png"]:modal{
      height: 2rem;
    }
   
    [src="./images/orange.png"]:modal{
      height: 2rem;
    }
    [src="./images/plus-thick.png"]:modal{
      height: 2rem;
    }
    [src="./images/plus-thick.png"]:modal{
      height: 2rem;
    }
    [src="./images/plus-thick.png"]:modal{
      height: 2rem;
    }
  }


  .formDiv,.formDiv2{
  width: 50vw;
  height: 100vh;
    background-color: white;
  
   
  }
  .formDiv p{
    width: 80%;
    color: gray;
    text-align: end;
   
  }

  .formDiv2 p{
    width: 80%;
    color: gray;
    text-align: center;
  }
  .formDiv h1,.formDiv2 h1{
   
    width: 80%;
    text-align: left;
    margin-top:1.5em;
    margin-bottom:1em;

  }
  .formDiv h1 img,.formDiv2 h1 img{
    margin-right: 3px;
    height:30px;
    width:30px;
  }

  .formDiv h2{
    text-align: left;
    margin-top: 5em;
    margin-bottom: 1em;
  }

  .formDiv2 h2{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
  }
  .display,.display2{
    width: 50vw;
    height: 100vh;
    background-color: rgb(248, 230, 207);
    display: grid;
    justify-content: center;

  }

  .display img,.display2 img{
    height: calc(20em + 10vh);
    width:calc(20em + 10vw);
    justify-content: center;
  } 

  .display #page-count,.display2 #page-count{
    height: calc(0.80rem + 1.5vh);
    width: calc(90px + 1.5vh);
     position: relative;
    left:70%;
    background-color: rgb(231, 211, 165);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
  }

  input{
   
    height: 3em;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    border: 1px solid rgb(64, 64, 64);
  
  }
  
  #continue-btn{
    height: 3.5em;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 1.5em;
    
  }
  
  #continue-btn:hover,#launch-btn:hover{
    background-color: rgb(245, 187, 80);
  }

  #question{
    
    height: 3em;
    border: 1px solid rgb(64, 64, 64);
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    text-align: start;
   
  
  }
  #toggle{
    height: 40px;
    width: 40px;
    fill: orange;
  }

.formDiv h1,.formDiv h2,.formDiv p, input,#question, #continue-btn{
  margin-left: 40px;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
}

.formDiv2 div{
  display: flex;
  align-items: center;
  border: 1px solid rgb(210, 207, 207);
  border-radius: 10px;
  justify-content: space-between;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 3em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

.formDiv2 div:hover{
  border: 1px solid rgb(29, 28, 28);
}

.formDiv2 h1,.formDiv2 h2,.formDiv2 p,#launch-btn,.formDiv2 div{
  margin-left: 40px;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
}

#launch-btn{
  color:white;
  background-color: orange;
  border: none;
  height: 3em;
  border-radius: 5px;
  margin-top: 1.5em;
  width: 10em;
  margin-left: 2.5em;
}

#choices{
  height: 20px;
  text-align: end;
 
}

.formDiv2 div img{

  margin-right:0.5em;
  height: 20px;
}

.hidden-icons{
  display: flex;
font-size: 20px;
  justify-content: end;
}

.hidden-icons img{
  padding: 2px;
}
.navBox{
background-color: rgb(246, 244, 242);
width: 20rem;
height: 100vh;
display: grid;
justify-content: center;
}
.nav{
  list-style: none;
  width: 90%;
}



.navBox .nav li{
  width: 250px;
  padding: 5px;
  margin: 0;
  position: relative;
  right: 20px;
 

}
.nav li img,.box img{
  position: relative;
  top: 3px;
  right: 3px;
  color: rgb(134, 135, 136);
}
.navBox .nav li:hover{
  background-color: rgb(249, 226, 209);
 
  
}
.nav h3 {
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
  height: 3rem;
}
.homeBox header{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10vh;
}

#container{
  width: 60vw;
  height: 80%;
 
}


#task-icons{
  display: flex;
  padding: 2px;

}
.nav ul .margin{
  margin-bottom: 20rem;
  margin-top: 1rem;
}

.nav #projects::first-line{
 font-size: 20px;
 font-weight:bold;
}

.nav h3 img{
  position: relative;
  left: 3em;
}

.nav h3 #bell{
  left: 5em;
}

.homeBox{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  
  }

.box header #mode,.box header p{
   position: relative;
   left: 10%;
  

}

 

.box header #events{
  padding: 2px 0;
  background-color: rgb(244, 238, 238);
  border-radius: 5px;
  width: 12rem;
  height: 1.7rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.box header #view{
  padding: 2px;
  height: 1.7rem;
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .box header #view img,.box header #events img ,.box header img{
  position:relative;
  bottom: 5px;
} */
 #newTodo #radio-btn{
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  position: relative;
  top: 4px;
  border-radius: 10px;
}

.box #container p{
  font-size: 15px;
  padding: 2px;
}

.box #container #inbox{
  text-align: end;
}
.box #container:last-child img{
  height: 15px;
  width:15px;
  margin-left: 3px;
}

.box button{
  border: 0;
  background-color: white;
}

.task-box{
  border: 1px solid black;
  border-radius: 20px;
  height: 12rem;
  width: 60vw;
  position: relative;
  bottom:20px;
  display: grid;
  align-items: flex-end;
  background-color: white;
}


.task-box input{
 font-family: serif;
 font-size: 15px;
 height: 30px;
 border: none;
 margin: 0;
 position: relative;
 bottom: 20px;

 
}
.task-box input#chores{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}

.task-box p#section button{
border: 1px solid rgb(178, 176, 176);
border-radius: 5px;
height: 2em;
width: auto;

}

.task-box p#section{
  height:2em;
}

.task-box div{
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
 
}
.task-box div button.cancel-btn{
  background-color: rgb(236, 230, 230);
  border-radius: 5px;
  height: 2.5em;
  width: 80px;
  margin-right: 8px;
 }

 .task-box div button.add-btn{
  background-color: rgb(206, 100, 100);
  border-radius: 5px;
  height: 2.5em;
  width: 80px;
  margin-right: 8px;
  color: white;
  font-weight:bold ;
 }

 .task-box div>button{
  height: 2.5em;
  width: auto;
  margin-left: 8px;
 }